---
import Layout from "../layouts/main.astro";
---

<Layout title="Raj Devkar - Full Stack Developer" description="Raj Devkar - Full Stack Developer with around 4+ Years of experience in development and implementation of Web/Mobile Applications using tech stack such as React Native, ReactJs, Java & APIs using Laravel PHP, Tailwind CSS, MySql, MongoDB, Firebase, GraphQL & Rest APIs.">
    <div class="flex flex-col container mx-auto">
        <nav class="lg:fixed px-6 lg:px-0 py-8 lg:py-14">
            <span class="flex items-center text-xl font-bold">
                <span class="text-4xl lg:text-6xl">
                <img src="/svgs/koala.svg" alt="koala" title="koala">    
                </span>&nbsp;RAJ DEVKAR
            </span>
        </nav>
        <div class="w-full flex flex-col-reverse lg:flex-row lg:items-center px-6 lg:px-0 min-h-screen">
            <div class="flex-1 flex flex-col items-start lg:justify-center mb-14 lg:mb-0">
                <div class="flex items-center space-x-2.5 text-xs text-gray-500 border border-blue-600 rounded-full px-2.5 py-1">
                    <span class="relative flex w-2.5 h-2.5">
                        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
                        <span class="relative inline-flex rounded-full w-2.5 h-2.5 bg-green-500"></span>
                    </span>
                    <span>Open to work</span>
                </div>

                <h1 class="font-secondary text-3xl md:text-4xl lg:text-6xl font-black mt-2 tracking-wide leading-tight">
                    Coding Future,<br /> One line at a <span class="font-sans">&#9201;</span>
                </h1>
                <p class="text-gray-500 max-w-lg mt-2 md:mt-4">
                    Raj Devkar - Full Stack Developer with around 4+ Years of experience in development and implementation of Web/Mobile Applications using tech stack such as React Native, ReactJs, Java & APIs using Laravel PHP, Tailwind CSS, MySql, MongoDB, Firebase, GraphQL & Rest APIs.
                </p>

                <div class="mt-4">
                    <span class="text-lg font-medium">Get in touch :</span>
                    <div class="flex flex-wrap items-center gap-4 mt-3">
                        <a href="https://www.linkedin.com/in/rajdevkar/" target="_blank" class="bg-linkedIn text-white px-6 py-3 rounded-md hover:scale-105 transition-all ease-in-out duration-150">
                            LinkedIn
                        </a>
                        <a href="https://twitter.com/Rajdevkar99" target="_blank" class="bg-twitter text-white px-6 py-3 rounded-md hover:scale-105 transition-all ease-in-out duration-150">
                            Twitter
                        </a>
                        <a href="https://www.facebook.com/rajdevkar99" target="_blank" class="bg-facebook text-white px-6 py-3 rounded-md hover:scale-105 transition-all ease-in-out duration-150">
                            Facebook
                        </a>
                        <a href="https://www.instagram.com/rajdevkar99/" target="_blank" class="bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 text-white px-6 py-3 rounded-md hover:scale-105 transition-all ease-in-out duration-150">
                            Instagram
                        </a>
                    </div>
                </div>
            </div>

            <div class="lg:flex-1 flex lg:justify-center mb-8 !lg:m-0">
                <img src="/images/teemo-hi.gif" class="max-w-[200px] lg:max-w-md aspect-square rounded-md shadow-md shadow-gray-900/40" alt="" srcset="" />
            </div>
        </div>
    </div>
</Layout>
