@import "tailwindcss";

.grid-pattern {
  background-image: linear-gradient(to right, #0000001A 0.2px, transparent 1px), linear-gradient(to bottom, #0000001A 0.2px, transparent 1px);
  background-size: 10px 8px;
  background-position: top left;
}

@keyframes scale {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.animate-scale {
  animation: scale 3s ease-in-out infinite alternate cubic-bezier(0.6, 0, 0.4, 1);
}